<h1>Create a new passport map!</h1>
Would you like a map for your zip code or street?
<%= form_tag maps_path, method: :post do %>
  <%= label_tag :'Zip Code!' %>
  <%= radio_button_tag(:zip, "Zip Code") %>
  <%= label_tag :'Street!' %>
  <%= radio_button_tag(:street, "Street") %>
  <%= submit_tag :'Make It!' %>
  <% end %>
